<!-- alle branches tabelle -> wenn branche selektiert -> filter auf subbranchentabelle
alle subbranchen tabelle -->

<!-- 50 Tagesschnitt Versenker
50 Tagesschnitt Hüpfer/Abpraller

200 Tagesschnitt Versenker
200 Tagesschnitt Hüpfer/Abpraller -->

<apx-chart
    [series]="apexChartOptions.series"
    [chart]="apexChartOptions.chart"
    [title]="apexChartOptions.title"
    [plotOptions]="apexChartOptions.plotOptions"
    [dataLabels]="apexChartOptions.dataLabels"
    [legend]="apexChartOptions.legend">
</apx-chart>