<!-- alle branches tabelle -> wenn branche selektiert -> filter auf subbranchentabelle
alle subbranchen tabelle -->

<!-- 50 Tagesschnitt Versenker
50 Tagesschnitt Hüpfer/Abpraller

200 Tagesschnitt Versenker
200 Tagesschnitt Hüpfer/Abpraller -->

<div *ngFor="let chartOption of chartOptions">
    <apx-chart
    style="float:left;margin:4px;"
    [series]="chartOption.series"
    [chart]="chartOption.chart"
    [title]="chartOption.title"
    [plotOptions]="chartOption.plotOptions"
    [dataLabels]="chartOption.dataLabels"
    [legend]="chartOption.legend"
    [tooltip]="chartOption.tooltip"
    [colors]="chartOption.colors">
</apx-chart>
</div>