Materials & Chemicals
<base-table url="/stream/quotes/materials_chemicals" initDelay = 0></base-table>
Recycling
<base-table url="/stream/quotes/recycling" initDelay = 100></base-table>
Industrial-Manufacturing
<base-table url="/stream/quotes/industrial_manufacturing" initDelay = 200></base-table>
Real Estate & Construction
<base-table url="/stream/quotes/realestate_construction" initDelay = 300></base-table>y
Communication
<base-table url="/stream/quotes/communication" initDelay = 400></base-table>