Indices
<app-indices-overview-table></app-indices-overview-table>
Etf's
<app-etf-overview-table></app-etf-overview-table>
<!-- Big-Tech
<app-bigtech-table></app-bigtech-table>
Tech-Manufacturing
<app-tech-manufacturing-table></app-tech-manufacturing-table>
Semiconductor & FPGA
<app-semiconductor-table></app-semiconductor-table>
Media
<app-media-overview-table></app-media-overview-table>
E-Commerce & Logistics
<app-ecommerce-table></app-ecommerce-table>
Software/Hosting/Cloud
<app-software-table></app-software-table>
Payment
<app-payment-table></app-payment-table>
Mobility & Delivery
<app-mobility-table></app-mobility-table>
Games
<app-games-table></app-games-table>
Gastronomy
<app-gastronomy-table></app-gastronomy-table>
Industrial-Manufacturing/Services
<app-industrial-table></app-industrial-table>
Materials & Chemie
<app-materials-table></app-materials-table>
Communication
<app-communication-table></app-communication-table>
Real Estate & Construction
<app-realestate-table></app-realestate-table>
Finance
<app-finance-table></app-finance-table>
Pharma & Medtech
<app-pharma-table></app-pharma-table>
Biotech
<app-biotech-table></app-biotech-table>
Food & Retail
<app-food-retail-table></app-food-retail-table>
Consumer/Conglomerate
<app-consumer-table></app-consumer-table>
Dress & Sports
<app-sports-table></app-sports-table>
Energy
<app-energy-table></app-energy-table>
Aerospace & Travel
<app-aerospace-table></app-aerospace-table>
Automobile
<app-automobile-table></app-automobile-table>
Personal
<app-personal-table></app-personal-table> -->
