Big-Tech
<base-table url="/stream/quotes/fang" initDelay = 0></base-table>
Cloud/SaaS
<base-table url="/stream/quotes/cloud" initDelay = 100></base-table>
Software
<base-table url="/stream/quotes/software" initDelay = 200></base-table>
Semiconductor
<base-table url="/stream/quotes/semiconductor" initDelay = 300></base-table>
<!-- IT-Services
<base-table url="/stream/quotes/itservices" initDelay = 500></base-table> -->
Tech-Manufacturing
<base-table url="/stream/quotes/tech_manufacturing" initDelay = 400></base-table>