<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
        <File name="LogFile" fileName="logs/bot-app.log">
        	<PatternLayout pattern="[%-5level] %d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    	</File>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="LogFile" />
        </Root>
    </Loggers>
</Configuration>