24h-Outperformer
<base-table url="/24hOutPerformer" initDelay = 0></base-table>
24h-Underperformer
<base-table url="/24hUnderPerformer" initDelay = 100></base-table>
50d-Outperformer
<base-table url="/50dOutPerformer" initDelay = 200></base-table>
50d-Underperformer
<base-table url="/50dUnderPerformer" initDelay = 300></base-table>
200d-Outperformer
<base-table url="/200dOutPerformer" initDelay = 400></base-table>
200d-Underperformer
<base-table url="/200dUnderPerformer" initDelay = 500></base-table>
