24h-Outperformer
<base-table class="no-scroll" url="/24hOutPerformer" initDelay = 0 paging = false stream = false></base-table>
24h-Underperformer
<base-table class="no-scroll" url="/24hUnderPerformer" initDelay = 100 paging = false stream = false></base-table>
50d-Outperformer
<base-table class="no-scroll" url="/50dOutPerformer" initDelay = 200 paging = false stream = false></base-table>
50d-Underperformer
<base-table class="no-scroll" url="/50dUnderPerformer" initDelay = 300 paging = false stream = false></base-table>
200d-Outperformer
<base-table class="no-scroll" url="/200dOutPerformer" initDelay = 400 paging = false stream = false></base-table>
200d-Underperformer
<base-table class="no-scroll" url="/200dUnderPerformer" initDelay = 500 paging = false stream = false></base-table>
