<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
    <mat-expansion-panel-header>
      <a mat-button [routerLink]="'/tech'" [queryParams]="{industry: 'llll'}">Tech</a>
    </mat-expansion-panel-header>
      <mat-nav-list dense>
        <div>
          <a mat-button [routerLink]="'/tech'" [queryParams]="{industry: 'sfasf'}">Tech</a>
        </div>
      </mat-nav-list>
    </mat-expansion-panel> -->
    <div>
      <a mat-button [routerLink]="'/indices'">Indices</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/tech'">Tech</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/health'">Health</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/finance'">Finance</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/food'">Food</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/retail'">Retail</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/energy'">Energy</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/industry'">Industrial</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/mobility'">Mobility</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/media'">Media</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/misc'">Misc</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/performance'">Performance</a>
    </div>
  </mat-drawer>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>