<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)" style="cursor:pointer">Name</th>
      <th scope="col" sortable="dayChangePercent" (sort)="onSort($event)" style="cursor:pointer">Price</th>
      <th scope="col" sortable="fiftyDayAverageChangePercent" (sort)="onSort($event)" style="cursor:pointer;white-space:nowrap;">50-Ø</th>
      <th scope="col" sortable="twoHundredDayAverageChangePercent" (sort)="onSort($event)" style="cursor:pointer;white-space:nowrap;" class="hide-column-420">200-Ø</th>
      <th scope="col" sortable="fiftyTwoWeekLowChangePercent" (sort)="onSort($event)" style="cursor:pointer;white-space:nowrap;" class="hide-column-420">52-Low</th>
      <th scope="col" sortable="fiftyTwoWeekHighChangePercent" (sort)="onSort($event)" style="cursor:pointer;white-space:nowrap;" class="hide-column-420">52-High</th>
      <th scope="col" sortable="marketCap" (sort)="onSort($event)" style="cursor:pointer;width:72px;" class="hide-column-768">Cap</th>
      <th scope="col" style="width:86px;white-space:nowrap;" class="hide-column-768">52-Range</th>
      <th scope="col" style="cursor:pointer;width:110px;">10d-Chart</th>
      <th scope="col" sortable="subIndustry" (sort)="onSort($event)" style="cursor:pointer" class="hide-column-768">Industry</th>
    </tr>
  </thead>
  <tbody (scroll)="onTableScroll($event)">
      <tr *ngFor="let quoteRecord of data">
        <td>
          <a class='whitelink' (click)="copyMessage(quoteRecord.wkn)" style="cursor:pointer;" [matTooltip]="quoteRecord.symbol" matTooltipPosition='right'>
            {{ quoteRecord.name }}
          </a>
        </td>
        <td>
          <div
            [@cellValueChangedAnimation]="quoteRecord.price">
            {{ (quoteRecord.price).toPrecision(5) }}
          </div>
          <div>
            {{ quoteRecord.dayChange > 0 ? '+' : ''}}{{ (quoteRecord.dayChange).toPrecision(3) }}
          </div>
          <div
            [ngStyle]="{'color': quoteRecord.dayChangePercent > 0 ? 'green' : 'red'}">
            {{ (quoteRecord.dayChangePercent).toPrecision(3) }} %
          </div>
        </td>
        <td>
          <div>
            {{ (quoteRecord.fiftyDayAverage).toPrecision(5) }}
          </div>
          <div 
            [ngStyle]="{'color': quoteRecord.fiftyDayAverageChangePercent > 0 ? 'green' : 'red'}">
            {{ (quoteRecord.fiftyDayAverageChangePercent * 100).toPrecision(3) }} %
          </div>
        </td>
        <td class="hide-column-420">
          <div>
            {{ (quoteRecord.twoHundredDayAverage).toPrecision(5) }}
          </div>
          <div
            [ngStyle]="{'color': quoteRecord.twoHundredDayAverageChangePercent > 0 ? 'green' : 'red'}">
            {{ (quoteRecord.twoHundredDayAverageChangePercent * 100).toFixed(3) }} %
          </div>
        </td>
        <td class="hide-column-420">
          <div>{{ (quoteRecord.fiftyTwoWeekLow).toPrecision(5) }}</div>
          <div [ngStyle]="{'color': quoteRecord.fiftyTwoWeekLowChangePercent > 0 ? 'green' : 'red'}">
            {{ (quoteRecord.fiftyTwoWeekLowChangePercent * 100).toPrecision(3) }} %
          </div>
        </td>
        <td class="hide-column-420">
          <div>{{ (quoteRecord.fiftyTwoWeekHigh).toPrecision(5) }}</div>
          <div [ngStyle]="{'color': 'red'}">
            {{ (quoteRecord.fiftyTwoWeekHighChangePercent * 100).toPrecision(3) }} %
          </div>
        </td>
        <td style="width:72px;" class="hide-column-768">
          <span matTooltip='market cap' matTooltipPosition='right'>
            {{ quoteRecord.marketCap === 0 ? '' : (quoteRecord.marketCap / 1000000000).toPrecision(4)}}
          </span>
          <span matTooltip='price to book' matTooltipPosition='right'>
            {{ quoteRecord.priceToBookRatio === 0 ? '' : (quoteRecord.priceToBookRatio).toPrecision(3) | number:'1.0-1'}}
          </span>
        </td>
        <td style="width:86px;padding:0px 8px 8px 0px;" class="hide-column-768">
          <mat-slider min="{{ quoteRecord.fiftyTwoWeekLow }}" max="{{ quoteRecord.fiftyTwoWeekHigh }}"
            step="0.001" [(ngModel)]="quoteRecord.price" disabled="true">
          </mat-slider>
        </td>
        <td (click) ="openDialog(quoteRecord.symbol)" style="cursor:pointer;width:110px;padding:0px" matTooltip="Open 200d Chart" matTooltipPosition='right'>
              <apx-chart
                [series]="quoteRecord.apexCandleStickChartSeries"
                [chart]="apexChartOptions.chart"
                [xaxis]="apexChartOptions.xaxis"
                [yaxis]="apexChartOptions.yaxis"
                [title]="apexChartOptions.title"
                [tooltip]="apexChartOptions.tooltip"
                [states]="apexChartOptions.states"
                [grid]="apexChartOptions.grid">
              </apx-chart>
        </td>
        <td class="hide-column-768">
          <div>
            {{ quoteRecord.subIndustry }}
          </div>
        </td>
      </tr>
  </tbody>
</table>