/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar.mat-primary,
.mat-drawer {
  background: #282828;
  color: #fff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 48px;
}

.mat-toolbar-multiple-rows {
  min-height: 48px;
}

.mat-drawer {
  padding: 8px;
}

.mat-drawer-container {
  height: calc(100% - 48px);
}

.mat-button {
  background: #282828;
  font-size: 16px;
  font-weight: 350;
}

.mat-button:focus {
  outline:0;
}

a:hover {
  background-color: #353535;
  color: white;
  text-decoration: none;
}

a.whitelink:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.table .thead-dark th {
  background-color: #282828;
  border-color: transparent;
  border-width: 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.mb-5, .my-5 {
  margin-bottom: 0rem!important;
  margin-top: 0rem!important;
}

.table td {
  border-width: 1px;
  border-bottom: 0px;
}

.table {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 8px 1px rgba(0,0,0,.14), 0 3px 8px 2px rgba(0,0,0,.12);
  border-radius:10px 10px 0 0;
  thead tr:nth-child(1) th{
    position: sticky;
    top: 0;
    z-index: 10;
  }
  height: calc(100% - 18px);
}

.table-bordered {
  border: 0px;
}

tbody {
  display: block;
  font-size: 14px;
  height: calc(100% - 46px);
  overflow: auto;
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

table th:first-child{
  border-radius:10px 0 0 0;
}

table th:last-child{
  border-radius:0 10px 0 0;
}

tfoot {
  display:block;
  display:table;
  table-layout:fixed;
  width: calc( 100% - 1.1em );
}

.table td {
  padding: 8px 8px 4px 12px;
  word-wrap: break-word;
}

td.ng-tns-c3-0 {
  padding: 5px;
}

.mat-slider {
  overflow-x: auto;
  align-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px !important;
}

.mat-slider-thumb {
  background-color: #727272 !important;
}

.container {
  height: 100%;
  padding: 8px 8px 12px 8px;
  overflow-x: auto;
  overflow-y: visible;
}

.no-scroll tbody {
  height: 100%;
  overflow: visible;
}

.no-scroll table {
  height: 100%;
  overflow: visible;
}

.mat-card-header-text {
  margin: 0px 4px !important;
}

.mat-button-toggle-label-content {
  color: white;
  background-color: #282828;
  border-radius: 0px;
  border-color: #282828;
}

.mat-button-toggle-checked {
  border-radius: 0px;
  border-color: red;
  border: none;
}

.mat-button-toggle-standalone, .mat-button-toggle-group {
  border-radius: 0px !important;
  border:none;
}

.mat-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

@media (max-width:768px) {
  .hide-column-768 {
    display: none;
  }
  table th:nth-child(9){
    border-radius:0 10px 0 0;
  }
 }

@media (max-width:420px) {
  .hide-column-420 {
    display: none;
  }
  .container {
    padding: 4px 4px 4px 4px;
  }
  table th:nth-child(9){
    border-radius:0 10px 0 0;
  }
}

@media (max-width:768px) {
  .card-small {
    width: 174px !important;
  }
  .container {
    max-width: 752px;
  }
}